<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv=“pragma“ content=“no-cache“>
  <meta http-equiv=“expires“ content=“0″>
  <link rel="stylesheet" href="include/css/style_fp.css" type="text/css" >
  <script src="include/js/ajax.js"></script>
  <script>document.addEventListener("DOMContentLoaded", function(){init_forgot()})</script>
  <title>Forgot Password</title>
</head>
<body>
<div class="fp_container">
<form class="form" action="index.php" method="post">

    <span>Email <img id="email_check" src="/forum/include/media/red_check.png"></span>
      <input id="email" placeholder="email" name="email" autocomplete="off">

    <button id="submit_email" name="template" value="submit_forgot">Submit Email</button>

</form>
  <div class="display">
    <p><!--{$display}--></p>

    <p id="sec_display"></p>
  </div>
</div>
</body>
</html>