<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv=“pragma“ content=“no-cache“>
  <meta http-equiv=“expires“ content=“0″>
  <link rel="stylesheet" href="include/css/style_l.css" type="text/css" >
  <script src="include/js/ajax.js"></script>
  <script>document.addEventListener("DOMContentLoaded", function(){init_login()})</script>
  <title>Login</title>
</head>
<body>
    <form class="form" action="index.php" method="post" >
      <div class="input">
        <span>Username</span><input id="user" placeholder="username" name="user">
        <span>Password</span><input id="pwd" type="password"  placeholder="password" name="pwd">
      </div>
      <div class="buttons">
        <button id="submit_login" name="template" value="home">Login existing Account</button>
        <button id="submit_create" name="template" value="create">Create new Account</button>
        <button id="submit_forgot" name="template" value="">Forgot Password</button>
      </div>
    </form>
    <div class="display">
      <p><!--{$display}--></p>
    </div>

</body>
</html>